.element__container-like {
    width: 22px;
    height: 19px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background-image: url('../../../../Images/heart.png');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    transition: opacity;
    margin-right: 1px;
  }
  
  .element__container-like:hover {
    opacity: 0.5;
    transition: opacity 1s;
  } 